@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    font-family: 'Poppins' , sans-serif;
}

body {
    background-color: cornflowerblue;
}

.title h1 {
    position: absolute;
    margin-left: 270px;
    margin-top: 120px;
    color: cornflowerblue;
    font-size: 25px;
    font-family: 'Poppins' , sans-serif;
    
}

.ret {
    margin-top: 75px;
    margin-left: 200px;
    position: absolute;
    width: 800px;
    height: 900px;

    background: #FFFFFF;
    border-radius: 30px;
}

.nome {
    position: absolute;
    margin-top: 300px;
    margin-left: 300px;
    width: 400px;
}

.nome input{
    position: absolute;
    display: inline-block;
    margin-top: -75px;
    width: 500px;
    padding: 20px 40px;
    border-radius: 40px;
    border: 2px solid cornflowerblue;
}

form input[type=text]:focus {
    outline: 0;
}

form select {
    width: calc(80% + 26px);
    padding: 10px 13px;
    margin-top: 30px;
    display: inline-block;
}

.email input{
    position: absolute;
    display: inline-block;
    margin-top: 330px;
    margin-left: 300px;
    width: 500px;
    padding: 20px 40px;
    border-radius: 40px;
    border: 2px solid cornflowerblue;
}

.lista input {
    position: absolute;
    display: inline-block;
    margin-top: 800px;
    margin-left: 300px;
    width: 500px;
    padding: 20px 40px;
    border-radius: 40px;
    border: 2px solid cornflowerblue;
}

.verif input {
    font-family: 'Poppins' , sans-serif;
    position: absolute;
    display: inline-block;
    margin-top: 430px;
    margin-left: 300px;
    width: 500px;
    padding: 20px 40px;
    border-radius: 40px;
    border: 2px solid cornflowerblue;
}

.button1 button {
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    position: absolute;
    display: inline-block;
    margin-top: 550px;
    margin-left: 350px;
    width: 500px;
    padding: 20px 40px;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
}

.imagem img {
    position: absolute;
    width: 400px;
    margin-top: 630px;
    margin-left: 400px;
}